output_files/
db/
incremental_db/
simulation/
obj_dir*/
verif/out/
verif/mame/
verif/lockstep/
build_tmp/
references/
cfg/
*.rpt
*.summary
*.smsg
*.jdi
*.sof
*.rbf
*.zip
c5_pin_model_dump.txt
jtag.cdf
*.qws
roms/
*.wav
*.fst
*.vcd
.env
.env.*
*.key
*.pem
